html{
	min-width: 100%;
	height: auto;
}

h1 {
	font-size:40px;
	font-family:gothic;
	text-align: center;
	margin:20px;
	font-weight:bold;
}

p{
	margin-bottom:20px;
}

body {
    background-image: url("../img/bg.jpg");
	background-size:cover;
	}

.description {
	width: auto;
	height: 250px;
	border: solid black 5px;
	background-color:white;
	opacity:0.3;
	margin-bottom:35px;
	padding:5px;
	min-width:initial;
}	

.main-container{
	padding-left:10%;
	padding-right:10%;
	position:relative;
	min-width: 1060px;
	margin: 0 auto;"
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	min-width:600px;
}

button {
	border-radius: 10px;
	color:white;
	background:url("../img/button.jpg");
	opacity:0.9;
}

.key{
	visibility:hidden;
}

.light{
	visibility:hidden;
}

.combat button{
	width:150px;
	height:60px;
}

.combat {
	text-align:center;
	margin-bottom:18px;
}

.skills button{
	width:115px;
	height:40px;
}

.skills {
	text-align: center;
	margin-bottom:10px;
}

.skills button{
	width:115px;
	height:40px;
}

.skills {
	text-align: center;
}

li {
	display:inline;
}

ul {
	list-style-type:none;
}

.heroes {
	position:absolute;
	left:10%;
}

.baddies {
	position:absolute;
	right:10%;
}

.heart{
	width:auto;
	height:15px;
	margin-bottom:10px;
	opacity:0.8;
}

img {
	width:180px;
	height:auto;
	margin-left:2px;
	margin-right:2px;
	border: solid white 2px;
}

.rupees{
	width:170px;
}

.rupees img{
	width:100px;
	height:50px;
	margin-left:10px;
	margin-right:10px;
}

.count{
	margin-top:15px;
	font-size:30px;
	font-weight:bold;
	float:right;
	color:grey;
}

.map {
margin-bottom:5px;
text-align:center;
}

.map li {
	font-weight: bold;
	margin:10px;
	color:grey;
}

.map ul{
	margin-bottom:10px;
}

 .radio_item {
	display: none !important;
 }

 .label_item {
	opacity: 0.1;
 }
    
 .radio_item:checked + label {
	opacity: 1;
 }

label {
cursor: pointer;   
}

input{
	margin-bottom:10px;
}